.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*  TOP  */

.top-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.player-info {
    font-family: 'Courier New', Courier, monospace;
}

.stats {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

/*  ELO SECTION  */

.elo-section {
    margin-top: 10px;
}

.elo-section h2 {
    margin-bottom: 10px;
}

.elo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.elo-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background: #f9f9f9;

    transition: all 0.3s ease;
    cursor: pointer;
}

/* hover effect */
.elo-card:hover {
    transform: scale(1.08);
    padding: 18px;
}

.elo-card h3 {
    margin-bottom: 5px;
}

.elo {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

.wl {
    display: flex;
    justify-content: space-around;
    font-size: 14px;

    opacity: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.wl span:nth-child(1) { color: green; }  /* W */
.wl span:nth-child(2) { color: red; }    /* L */
.wl span:nth-child(3) { color: gray; }   /* D */

.elo-card:hover .wl {
    opacity: 1;
    max-height: 50px;
    transform: translateY(0);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* GRAPH */

.rating-graph {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.top-section {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative; /* REQUIRED */
}

/* avatar clickable */
.avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

/* picker popup */
.avatar-picker {
    position: absolute;
    top: 130px; /* below avatar */
    left: 0;

    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;

    display: flex;
    gap: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* dots */
.color-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.color-dot:hover {
    transform: scale(1.2);
}