.friends-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* FOLLOWERS */
.followers-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

/* REQUESTS */
.requests-section {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.request-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.actions button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* FRIENDS */
.friends-section {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.friends-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.friend-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background: #f9f9f9;
}