# openssl rand -hex 32 to get the JWT_SECRET_KEY
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

DB_HOST=localhost
DB_PORT=5432
DB_NAME=chess_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chess_db
DB_MIN_CONNECTIONS=2
DB_MAX_CONNECTIONS=10