.friends-details{
    height: 100dvh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.friends-details .friend{
    display: flex;
    justify-content: space-around;
    margin:1rem;
    border:2px solid black;
    height:3rem;
    width: 100%;
    align-items: center;
    border-radius: 1rem;
}