.game-layout{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.player-card{
    height: 8rem;
    margin: 0 1.5rem;
}
.player-card>*{
    padding: 0.4rem;
}
.board-container{
    display: flex;
    justify-content: center
}
.board{
    height: 25rem;
    width: 25rem;
}