.profile-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-image{
    height: 20%;
}
.player-info{
    font-family: 'Courier New', Courier, monospace;
    
}